:root {
    --background: #121212;
    --holder-background: rgba(255, 255, 255, 0.1);
    --holder-reflection: rgba(255, 255, 255, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background);
}

.holder {
    display: flex;
    align-items: center;
    padding: 1em;

    background: var(--holder-background);

    border-radius: 5px;
    border: 1px solid var(--holder-reflection);

    position: relative;
}

.holder-hole {
    background: var(--background);

    border-radius: 10000px;
    border: 1px solid var(--holder-reflection);

    overflow: hidden;
}

.holder-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 128;

    pointer-events: none;

    background-color: var(--holder-background);
}

.card {
    width: calc(var(--img-width) * 2.5);

    overflow: hidden;
    padding: 0.7em;

    background: #FFD670;

    border-radius: 20px;

    position: relative;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 64;

    pointer-events: none;

    background-image: url("img/texture.jpg");
    mix-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.card-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 1em;
}

.card-top h4 {
    font-size: var(--font-medium);
}

.card-top h4 span {
    font-weight: normal;
}

.card-top h2 {
    text-transform: uppercase;
    font-size: var(--font-large);
}

.card-middle {
    display: flex;
    flex-direction: row;

    position: relative;
}

.avatar {
    background-color: #9DA3A4;
}

.avatar img {
    width: var(--img-width);
    height: auto;

    display: block;
}

.chip {
    position: absolute;
    top: calc(var(--img-width) / 2 - 1em);
    right: 1em;
    z-index: 96;

    width: calc(var(--img-width) / 3);
    height: calc(var(--img-width) / 4);

    background: #E55812;
    border-radius: 10px;
}

.card-middle h3 {
    padding-top: 1em;

    text-transform: uppercase;
    font-style: italic;
    font-size: var(--font-small);
    line-height: calc(var(--font-small) * 0.5);
    margin-top: var(--info-gap);
}

.card-middle h1 {
    font-size: var(--font-large);
}

.card-middle a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: var(--font-medium);
}

.card-middle a:hover {
    text-decoration: underline;
}

.card-middle-right {
    margin-left: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 300px) {
    :root {
        --img-width: 150px;
        --font-medium: 0.75rem;
        --font-large: 1.1rem;
        --font-small: 0.6rem;
        --info-gap: 0.5em;
    }

    .holder {
        flex-direction: column;
    }

    .holder-overlay {
        top: 3em;
        left: 0;
    }

    .holder-hole {
        height: 20px;
        width: calc(var(--img-width) * 0.5);
    }

    .card {
        margin-top: 2em;
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    :root {
        --img-width: 200px;
        --font-medium: 1rem;
        --font-large: 1.5rem;
        --font-small: 0.6rem;
        --info-gap: 0.7em;
    }

    .holder {
        flex-direction: row;
    }

    .holder-overlay {
        top: 0;
        left: 3em;
    }

    .holder-hole {
        width: 20px;
        height: calc(var(--img-width) * 0.5);
    }

    .card {
        margin-left: 2em;
        margin-top: 0;
    }
}
